<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http:

    <!-- Разрешение видеть все установленные приложения в Android 11+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:label="Mango OS"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Эти категории делают приложение системным лаунчером -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>